@tailwind base;
@tailwind components;
@tailwind utilities;

/* bug:tailwindcss与ant design样式冲突,两处更改:https://www.cnblogs.com/sxliu414/p/17816969.html */
/* @layer base { 
  button, [type='button'], [type='reset'], [type='submit']
  { background-color: #3b82f6; 
  }
} */
/* :global(.ant-btn-primary) {
  background-color: #1677ff !important;
} */

:root {
}
html,body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
/* 重写滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(42, 46, 54, 0.15);
  border-radius: 4px;
}
